<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop AlexMozg</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">

        <!-- 100% высоты -->
        <div class="height100">
            <div class="top">

                <!-- Шапка заголовка -->
                <div class="pageContainer">
                    <header class="banner">
                        <img src="img/sky.png" alt="Фоновый слайд" class="banner__slider">
                        <div class="banner__uponIt">
                            <div class="slider_text">
                                <p class="slider_upper_text">Лавка</p>
                                <p class="slider_lower_text">фауста & <span class="slider_word">люцифера</span></p>
                            </div>

                            <!-- Cart-->
                            <div class="cart-button">
                                <a href="#" class="header_cart" v-on:click="showCheckout">
                                    <img src="img/luzifers_korb.png" alt="Корзина" class="cart-button__size">
                                    <p class="numbers">{{quantityGoodsInCart}}</p>
                                    <p class="cart-button__alreadyInCart" v-show="alreadyInCart">
                                        Желание уже в корзинке
                                    </p>
                                </a>
                            </div>
                        </div>
                    </header>

                    <!-- Строка поиска-->
                    <div class="searchLine">
                        <p>Кто ищет, тот всегда найдет:</p>
                        <input type="text" class="goods-search" v-model="searchPhrase" v-on:keyup="renderSearchPhrase"
                            placeholder="просто пишите..." />
                    </div>

                    <main>
                        <!-- Витрина -->
                        <div class="goods-list good_box_big" v-show="showProduct">
                            <div class="goods_box" v-for="(item, id) in localDataGoods" :key="item.id">
                                <figure>
                                    <img class="goods_box__img" :src="item.picture" alt="Товар">
                                    <figcaption class="goods_box_upper_font">{{item.title}}</figcaption>
                                    <figcaption class="goods_box_lower_font">{{item.price}} ментальных усилий
                                    </figcaption>
                                </figure>
                                <div class="goods_cart" id="item.id">
                                    <div class="goods_cart_a">
                                        <img src="img/luzifers_korb.png" alt="Корзина" class="goods_cart_right">
                                        <p class="goods_cart_text">В список желаний</p>
                                    </div>
                                    <div class="goods_cart__btnBox">
                                        <button type="button" class="goods_cart__btn" id="item.id+"
                                            @click="addToCart(item)">Добавить</button>
                                        <p class="goods_cart__quantity">{{quantityInCart}}</p>
                                        <button type="button" class="goods_cart__btn" id="item.id-">Убрать</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Товары в корзине -->
                        <div v-show="!showProduct">
                            <p v-if="quantityGoodsInCart == 0">В корзине товаров нет!</p>
                            <div class="itemCartContainer">
                                <div class="good_box_big itemCartContainer_border" v-for="item in goodsInCart">
                                    <img class="itemCartContainer__img" :src="item.picture" alt="Товар">
                                    <div class="goods_box_upper_font center">{{item.title}}
                                    </div>
                                    <div class="goods_box_lower_font center">{{item.price}}
                                    </div>
                                    <div class="goods_box_lower_font center">{{item.quantityItems}}
                                    </div>
                                    <div class="goods_box_lower_font center">{{item.priceItemSummary}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>

                </div>
            </div>

            <!-- Футтер -->
            <footer>
                <div class="footer_lower_box pageContainer footer_lower_container">
                    <p class="copyright">&copy; Fausts und Luzifers Laden 2021 All Rights Reserved</p>
                </div>
            </footer>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="scriptL5.js"></script>

</body>

</html>